<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="Maussoft.Mvc.Listen" value="http://localhost:2345" />
     <add key="Maussoft.Mvc.ViewNamespaces" value="Maussoft.Mvc.CsTest.Views" />
     <add key="Maussoft.Mvc.ControllerNamespaces" value="Maussoft.Mvc.CsTest.Controllers" />
     <add key="Maussoft.Mvc.SessionSavePath" value="/tmp/mindacs_" />
     <add key="Maussoft.Mvc.SessionRemoveInterval" value="3600" />

     <!---
     <add key="Maussoft.Mvc.WebServer.AccessLog" value="/dev/stdout" />
     <add key="Maussoft.Mvc.WebServer.ErrorLog" value="/dev/stdout" />
     <add key="Maussoft.Mvc.WebServer.ApplicationLog" value="/dev/stdout" />
     -->
  </appSettings>
  <connectionStrings>
     <add name="Maussoft.Mvc.Database" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WingtipToys;Integrated Security=True;Pooling=False" />
  </connectionStrings>

  <system.diagnostics>
    <sources>
      <source name="mysql" switchName="MySwitch" switchType="System.Diagnostics.SourceSwitch" />
    </sources>
    <switches>
      <add name="MySwitch" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>